body {
  /* background: url(./imgs/phone.jpg) no-repeat fixed; */
  background: url(./imgs/ph_van.jpg) fixed;
  background-size: cover;

  height: 100%;
}

html {
  height: 100%;
}

.App {
  overflow-x: hidden;
}

.auth_div, .firefox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.auth {
  max-width: 40rem;
  min-height: 10rem;
  padding: 2rem;
  box-shadow: 0px 0px 18px #0b5ed7;
  border-radius: 20px;
}

.auth input,
.sel {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid #0b5ed7;
  margin-top: 2rem;
}

.blank {
  width: 90%;
  margin-left: 5%;
  padding: 1rem;
  box-shadow: 0px 0px 18px #0b5ed7;
  border-radius: 20px;
  background-color: white;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrap {
  width: 80%;
  margin-left: 10%;
}

.blank input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid #0b5ed7;
}

.blank select,
.select {
  width: 100%;
  padding: 7px 10px;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid #0b5ed7;
}

.hr {
  height: 3px;
  width: 100%;
  background-color: #cad8ed;
}

.li {
  list-style-type: none;
}

 .hide::before {
  content: "" ;
  display: inline-block;
  border: 9px solid transparent ;
  border-left: 11px solid #0b5ed7 ;
  margin-bottom: -2px ;
  cursor: pointer ;
}

.show::before {
  content: "";
  display: inline-block;
  border: 9px solid transparent;
  margin-bottom: -9px;
  border-top: 11px solid #0b5ed7;
  margin-right: 5px;
  cursor: pointer;
}

.ques {
 width: 30px;
 height: 30px;
  box-shadow: 0px 0px 18px #0b5ed7;
  border-radius: 50%;
  margin: 0 auto;
  font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.footer_link {
  text-decoration: none;
  color: #e9eff9;
  font-size: 20px;
}
.footer_link:hover {
  color: #0b5ed7;
}


.hr2 {
	height: 6px;
	border: none;
	border-bottom: 1px solid #d1d1d1;
	box-shadow: 0 20px 20px -20px rgb(92, 91, 91);
	width: 100%;
  
}

.item {
  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
}

.item2 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d1d1d1;
}

/* .item_hover:hover {
  background-color: #ebeef3;
} */

.yes_no {
  margin-top: 0.5rem;
}

.mas_but {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.mas_val {
 
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 83%;
  background-color: #cad8ed;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 21px;
  height: 36px;
  
}
.mas_del {
 margin-left: 1rem;
 cursor: pointer;
 height: 1.1rem;
 width: 1.1rem;
 margin-top: 0.5rem;
}

.it {
  font-size: 19px;
  
}

.second {
  /* background-color: #f5f5f5; */
  background-color: #f2f5fb;
}

.third {
  background-color: #d8e2f1;
}

.forth {
  background-color: #cad8ed;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto !important;
}

.filter {
  font-family: var(--bs-body-font-family);
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  font-size: 19px;
}

.select {
   font-size: 17px;
}

.btn1 {
  margin-left: calc(50% - 45px);
  margin-top: 2rem;
}

.us_item {
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  box-shadow: 0px 0px 18px #0b5ed7;
  margin-bottom: 1rem;
  background-color: white;
  font-family: Roboto;
}

.edit {
  width: 25px;
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 2rem;
  border-radius: 15px; 
  border: 2px solid #0b5ed7;
}

.cusInput {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  border: 2px solid #0b5ed7;
}

.blankHead {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 18px #0b5ed7;
  border-radius: 20px;
  background-color: rgb(231 227 227);
}

.blankItem {
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  font-family: Roboto;
  box-shadow: 0px 0px 18px #0b5ed7;
  margin-bottom: 1rem;
  background-color: white;
}

.text_edit {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  border: 2px solid #0b5ed7;
  font-size: Roboto;
  margin-top: 2rem;
  height: 7rem;
}

.cath_modal{
  margin-top: 3rem;
}

.select_edit {
  margin-top: 2rem;
  background-color: rgb(231 227 227);
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
}

.select_name {
  width: 100%;
  
  padding: 10px;
 
  box-shadow: 0px 0px 18px #0b5ed7;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.admItem {
  border-radius: 20px;
  padding: 20px;
  font-size: 20px;
  font-family: Roboto;
  box-shadow: 0px 0px 18px #0b5ed7;
  margin-top: 1rem;
  background-color: white;
}

.admHead{
  padding: 10px;
  font-size: 20px;
  
  font-weight: 500;
  box-shadow: 0px 0px 18px #0b5ed7;
  border-radius: 20px;
  background-color: rgb(231 227 227);
  margin-top: 4rem;
}

.authors {
  border-radius: 20px;
  background-color: rgb(231 227 227);
  margin-top: 2rem;
  padding: 1rem;
}

.cath_p {
  margin-top: 2rem;
  font-family: Roboto;
  margin-bottom: 0.5rem;
 
}

.colvo {
  text-align: center;
  padding-top: 0.5rem;
}

.big-table {
	overflow: auto;
	position: relative;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 18px #0b5ed7;
}
.big-table table {
	display: inline-block;
	vertical-align: top;
	max-width: 100%;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.big-table th {
	font-weight: bold;
	padding: 10px;
	background: #b2c4df;
	border: 1px solid #dddddd;
}
.big-table td{
	padding: 10px 10px;
	border: 1px solid #eee;
	text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.big-table tbody tr:nth-child(odd){
	background: #fff;
}
.big-table tbody tr:nth-child(even){
	background: #f2f5fb;
}

.wrapp {
  width: 90%;
  margin-left: 5%;
}

.date_span {
  font-family: 'Roboto';
 margin-right: 10px;
}

.span_date {
  font-family: 'Roboto';
  font-size: 20px;
}

.button_date {
  margin-top: 7rem;
  margin-left: calc(50% - 50px);
}

.firefox h2 {
  color: #0b5ed7;
  font-family: Roboto;
}

.bookItem {
  padding: 1rem;
  box-shadow: 0px 0px 18px #0b5ed7;
  border-radius: 20px;
  background-color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 1rem;
}

.books {
  padding: 0.5rem;
  box-shadow: 0px 0px 18px rgb(124, 121, 121);
  border-radius: 10px;
  background-color: rgb(240, 237, 237);
  font-size: 20px;
  margin-bottom: 1rem;
}

.colClass {
  text-align: center;
  background-color: #e9eff9;
  border-radius: 15px;
}

.buttonClass {
  font-family: var(--bs-body-font-family);
  font-weight: 500 !important;
  margin-top: 15px;
}

.mas_input {
  position: relative;
}


.autocomplete {
  position: absolute;
  left: 0;
  top: 50px;
  background-color: white;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0px 0px 18px #0b5ed7;
 z-index: 20;
 max-height: 220px;
 height: auto;
 overflow: auto;
}

.autocomplete_item {
  padding: 10px;
}

.autocomplete_item:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer; 
}

.divCross {
  display: flex;
  justify-content: end;
  margin-right: 10px; 
  margin-top: 5px;
}

.cross {
  cursor: pointer;
  width: 15px;
}

.navWrap {
  width: 80%;
  margin-left: 10%;
  display: flex;
}